.features {
	grid-template-columns: repeat(
		var(--features-columns-count, auto-fit),
		minmax(164px, 1fr)
	);
	gap: 20px 15px;
}

.features__item {
	display: grid;
	align-items: center;
	justify-content: center;

	min-height: 118px;

	padding: 15px;
	padding-top: 0;
}

.features__icon {
	--icon-size: 40px;

	margin-top: -5%;

	font-size: 24px;
}

@media (min-width: 800px) {
	.features__item {
		align-items: start;
		justify-items: start;
		grid-template-columns: 1fr max-content;
		gap: 20px;

		padding: 20px;
	}

	.features__icon {
		order: 1;
		align-self: start;

		margin: 0;
	}
}
